@using Forum.Web.Models
@model Forum.Web.Models.HomeViewModel
    @{
        ViewBag.Title = "Index";
    }

    <table class="table table-striped col-md-2">
    <colgroup>
        <col>
        <col span="2" class="info">
        <col span="2" class="success">
    </colgroup>
    <thead class="thead-inverse">
        <tr>
            <th>Section Name </th>
            <th class="text-center">Number Of Threads</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Sections.Sections)
        {
            <tr>
                <td class="col-md-6">@Html.ActionLink(item.SectionName, "ViewSection", new { sectionId = item.IdSection })</td>
                <td class="col-md-4 text-center">@Model.CountThreads(item.IdSection)</td>
                @if (Model.User.IsInRole("Admin"))
                {
                    <td class ="col-md-2" style="margin: 20px 20px">
                            <input type="submit" value="Remove Section" class="btn-default" style="background-color:antiquewhite;" onclick="location.href='@Url.Action("RemoveSection", "Admin", new { sectionId = item.IdSection })'" />
                    </td>

                }
                
                
                
            </tr>

        }
    </tbody>

</table>




@using(Html.BeginForm("SaveSection", "Home"))
{

                <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBox("sectionName")
        </div>
    </div>
    <input type="submit" value="Add Section" />
}
