@using forum.Domain.Entities
@model IEnumerable<Section>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>
    @foreach (var item in Model)
    {
        
    <div style="border: 2px solid; margin-left:5px; background-color:darkgoldenrod"><h3 class="text-left" style="color: antiquewhite; margin-left:5px;">@Html.ActionLink(item.SectionName, "ViewSection", new { sectionId = item.IdSection }, new { style = "color:antiquewhite" })</h3></div>
    


    }




@using (Html.BeginForm("SaveSection", "Home"))
{
    
    <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBox("sectionName", new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" value="Save Thread" />
}
