@using forum.Domain.Entities
@model IEnumerable<Section>
    @{
        ViewBag.Title = "Index";
    }

    <table class="table table-striped col-md-2">
    <colgroup>
        <col>
        <col span="2" class="info">
        <col span="2" class="success">
    </colgroup>
    <thead class="thead-inverse">
        <tr>
            <th>Section Name </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-8">@Html.ActionLink(item.SectionName, "ViewSection", new { sectionId = item.IdSection })</td> 
            </tr>

        }
    </tbody>

</table>




@using(Html.BeginForm("SaveSection", "Home"))
{

                <div class="form-group">
        
        <div class="col-md-10">
            @Html.TextBox("sectionName")
        </div>
    </div>
    <input type="submit" value="Add Section" />
}
