
@model Forum.Web.Models.SectionViewModel


<div class="panel-heading col-lg-11 " style="border: 3px solid; margin-top: 30px;"><div style="border: 2px solid; background-color:darkgoldenrod"><h2 class ="text-center"style="color: antiquewhite; ">@Model.Name</h2></div>
    <div>
        @foreach (var item in Model.threads)
        {
            <div class="navbar navbar-inverse"
                 style="border: 2px solid; background-color: lightgray; margin: 20px 20px">
                <h3 style="margin:15px 30px">@Html.ActionLink(item.ThreadName, "ViewThread", new { threadId = item.IdThread })</h3>
                <h5>@item.Description</h5>
            </div>

        }
    </div>
</div>
<div class="btn" style="margin: 20px 20px">
    <input type="submit" value="AddThread" class="btn-default" style="background-color:antiquewhite;" onclick="location.href='@Url.Action("AddThread", "Home", new { sectionId = Model.sectionId })'" />

</div>
    
   