@using forum.Domain.Entities
@model IEnumerable<Section>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    <div class="row panel" style="border: 2px solid; background-color: antiquewhite; margin: 40px 40px">
    
    <h3 style="margin:15px 30px">@Html.ActionLink(item.SectionName, "ViewSection", new { sectionId = item.IdSection }, null)</h3>

</div>

}

