@using forum.Domain.Entities
@model IEnumerable<Section>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    <div>
        <h3>@Html.ActionLink(item.SectionName, "ViewSection", new { sectionId = item.IdSection }, null)</h3>
    </div>

}

