@using forum.Domain.Entities;
@model IEnumerable<Thread>
@{
    ViewBag.Title = ViewBag.name;
}

<h2>@ViewBag.name</h2>
@foreach (var item in Model)
{
    <div class="row panel" style="border: 2px solid; background-color: antiquewhite; margin: 20px 20px">
        <h3 style="margin:15px 30px">@Html.ActionLink(item.ThreadName, "ViewThread", new { threadId = item.IdThread })</h3>
        </div>

        
    
}

