@using forum.Domain.Entities;
@model IEnumerable<Post>
@{
    ViewBag.Title = ViewBag.name;
}

<div class="text-center" style="nav-index:auto;"><h1>@ViewBag.name</h1></div>
@foreach (var item in Model)
{
    <div class="row panel" style="border: 2px solid; background-color: antiquewhite">
        <div class="text-left" style="margin: 20px 20px;">@item.Description</div>
    </div>
}

@Html.Action("AddPost", new {threadId = ViewBag.id })
@Html.ActionLink("Go Back", "Index")
